;; shadow-cljs configuration
{:dependencies [[cljs-bean "0.5.0"]
                [binaryage/devtools "0.9.7"]
                [devcards "0.2.5"]]
 :source-paths ["src"]
 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [react-hmr.core]}}
        :compiler-options {:devcards true}
        :devtools {:http-root    "public/"
                   :http-port    8700
                   :preloads     [devtools.preload]}}}}
